[submodule "3DCellularWorld"]
	path = 3DCellularWorld
	url = https://github.com/ccrock4t/3DCellularWorld
[submodule "AnimatCreator"]
	path = AnimatCreator
	url = https://github.com/ccrock4t/AnimatCreator
